*{outline:1px solid rgba(255,0,0,0.4);}
img{width:10%;}
i{margin:2%;}

$fondo-head: #999;
$mg-head: 100%;
$mg-chat-text: #999;


.bg-head{background:$fondo-head;}
.bg-chat{background:url(../image/chat-panel-bg.png)}

