doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")

    title= "WspAppTheme"
    //- <link href="css/bootstrap.min.css" rel="stylesheet">

    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",crossorigin="anonymous")
    link(rel="shorcut icon" href="../image/favicon.png" type="image/png")
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(href="../css/icomoon.css",rel="stylesheet")
    link(rel="stylesheet",href="../css/font-awesome.min.css")
    link(rel="stylesheet",href="../css/main.css")


    script(type='text/javascript',src="https://code.jquery.com/jquery-1.11.1.js").
    script(type='text/javascript',src="https://cdn.socket.io/socket.io-1.4.5.js").

  body 
    .container
      #bienvenida.well
        .text-center
          h3 Wsp Laboratoria
          p Ingresa tu nombre de usuario para acceder al wsp
          input.form-control#nombre(type="text", placeholder="Username!!")
          button.uno(onclick='guardarNombre()') Entrar
      
      // Chat 
      br
      br
      br
      .row#chat.borde-chat.bg-head
        //- primera linea
        .col-md-4
          .col-md-12
            img.img-circle(src="../image/gian.jpg")
            i.icon-message.pull-right
            i.icon-dots-three-vertical.pull-right

        // primera linea
        .col-md-8
          .col-md-2
            img.img-circle(src="../image/logocodeacademy.png")
          .col-md-8
            h4.texto-head Laboratoria Peru
            p.texto-head Ana MAria, Aldo , Gian , Mariana, Papu, Tú
          .col-md-2
            i.icon-attachment.pull-right
            i.icon-dots-three-vertical.pull-right

        // segunda linea user conected
      .row.2da-linea
        .col-md-4
          input.form-control.busqueda(type="text", name="user", placeholder="Buscar o empezar un chat nuevo")
          ul.list-conectados
            li.list-unstyled
              img.img-circle(src="../image/logocodeacademy.png")
              p Laboratoria Peru
              p Aldo: Dale dale!
            li.list-unstyled
              img.img-circle(src="../image/raymi.jpg")
              p Raymi Saldomado
              p Aldo: Dale dale!
            li.list-unstyled
              img.img-circle(src="../image/mariana.jpg")
              p Mariana Costa
              p Aldo: Dale dale!
            li.list-unstyled
              img.img-circle(src="../image/anamaria.jpg")
              p Ana Maria MArtinez Franklin
              p Aldo: Dale dale!
            li.list-unstyled
              img.img-circle(src="../image/rodulfo.jpg")
              p Rodulfo Prieto
              p Aldo: Dale dale!
            li.list-unstyled
              img.img-circle(src="../image/Andrea.jpg")
              p Andrea Lamas
              p Aldo: Dale dale!

        // segunda linea chat en sí
        .col-md-8.text-center.bg-chat 
          .historial-mensaje
            ul#lista_mensajes.list-group
          .cuadro-mensaje
            .col-md-1
              i.icon-insert_emoticon.pull-left
            .col-md-10
              input#mensaje.form-control(type="text")
            .col-md-1
              i.icon-mic.pull-right
            button(onclick='enviarMensaje()') Enviar mensaje

    script.
      var socket = io('/');
      var nombre;

      function guardarNombre()
      {
        nombre = $('#nombre').val();
        $('#bienvenida').hide();
        $('#chat').show();
        usuario = $('#nombre').val(); 
      }

      function enviarMensaje()
      {
        socket.emit('chat', "<span class='label label-danger'>" +  nombre + "</span> : " + $('#mensaje').val()  );
        $('#mensaje').val('');
        $('#mensaje').focus();
      }

      socket.on('nuevo_mensaje', function (_msg)
      {
        $('#lista_mensajes').append('<li class="list-group-item">' + _msg + '</li>');
      });

      